<div class="container-sm">
  <div class="card text-center">
    <div class="card-header">
      Welcome to <%=@ticket.bus.name%>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%if @ticket.confirmed? %>
        <button type="button" class="btn btn-outline-success">Confirmed Ticket</button>
        <%elsif @ticket.rejected?%>
        <button type="button" class="btn btn-outline-danger">Ticket Not Confirmed</button>
        <%else%>
         <button type="button" class="btn btn-outline-danger">Ticket Not Confirmed yet - Status pending</button>
        <%end%>
      </div>
    </div>
    <div class="card-body">
      <title>Ticket</title>
      <body>
        <ul>
          <h1>Ticket Information</h1>
        </ul>
        <table>
          <tr>
            <td><strong>Ticket ID:</strong></td>
            <td><%= @ticket.id %></td>
          </tr>
          <tr>
            <td><strong>Passenger Name:</strong></td>
            <td><%= @ticket.name %></td>
          </tr>
          <tr>
            <td><strong>Passenger Age:</strong></td>
            <td><%= @ticket.age %></td>
          </tr>
          <tr>
            <td><strong>Passenger Sex:</strong></td>
            <td><%= @ticket.sex %></td>
          </tr>
          <tr>
            <td><strong>Bus Fare:</strong></td>
            <td><%= @ticket.price %></td>
          </tr>
          <tr>
            <td><strong>Pickup Point:</strong></td>
            <td><%= @ticket.bus.pickup %></td>
          </tr>
          <tr>
            <td><strong>Drop Point:</strong></td>
            <td><%= @ticket.bus.drop %></td>
          </tr>
          <tr>
            <td><strong>Bus Departure Date & Time:</strong></td>
            <td><%= @ticket.bus.departure_time %></td>
          </tr>
          <tr>
            <td><strong>Bus Arrival Date & Time:</strong></td>
            <td><%= @ticket.bus.arrival_time%></td>
          </tr>
          <tr>
            <td><strong>Ticket Created At:</strong></td>
            <td><%= @ticket.created_at %></td>
          </tr>
          <tr>
            <td><strong>Ticket Updated At:</strong></td>
            <td><%= @ticket.created_at %></td>
          </tr>
          <tr>
            <td><strong>Ticket Status:</strong></td>
            <td><%= @ticket.status %></td>
          </tr>
        </table>
      </div>
      <div class="card-footer text-body-secondary">
        <%=time = Time.now.to_s 
        time = DateTime.parse(time).strftime("%d/%m/%Y  %H:%M") %>
      </div>
    </div>
    <%=link_to "print ticket",'#',class:"btn btn-primary",onclick: "window.print()"%>
  </div>
